.wrapper {
    width: 1000px;
    margin: 0 auto;
}
.modal-close {
    width: 15px;
    float:right;
    background: #cccccc;
    padding: 1px 5px;
    cursor:pointer;}
.modal {
    position:fixed;
    top:0;
    left:0;
    z-index:1050;
    width:100%;
    height:100%;
    overflow:hidden;
    display:none;
    background-color:rgba(0,0,0,.5)}
.modal-content {
    width:300px;
    margin: 200px auto;
    background:#fff;
    border:1px solid #000;
    padding:20px;
    position:relative;}
.show-modal {
    display:block;
}
.hide-modal {
    display:none;
}